@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* HOVER */

/* INDEX */

/* REGISTER */

.formbot {
    margin-bottom: 59px;
}

/* HOME */

.whatis {
    margin-left: 1.25px;
}

.heading {
    background-color: #DCDCDC;
    border-right: solid;
    border-left: solid;
    border-color: #404040;
    border-width: 20px;
    border-bottom: solid;
    border-bottom-color: black;
    border-top: solid;
    border-top-color: black;
    
}

.para {
    padding: 10x;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logged {
    border: solid;
    border-color: black;
    border-width: 25px;
}

/* CONTACT */

.bold {
    font-weight: bold;
}
