/* HOME GRID */

header, footer {
  grid-column: 1 / 4;
}

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}